@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Red Hat Display'), local('RedHatDisplay-Regular'), url(https://fonts.gstatic.com/s/redhatdisplay/v1/8vIQ7wUr0m80wwYf0QCXZzYzUoTg_T6k.ttf) format('truetype');
}
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Red Hat Display Medium'), local('RedHatDisplay-Medium'), url(https://fonts.gstatic.com/s/redhatdisplay/v1/8vIV7wUr0m80wwYf0QCXZzYzUoToDh20aqrF.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Work Sans Light'), local('WorkSans-Light'), url(https://fonts.gstatic.com/s/worksans/v5/QGYpz_wNahGAdqQ43Rh314L8mNhI.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v5/QGYsz_wNahGAdqQ43Rh_fKDs.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lexend Deca Regular'), local('LexendDeca-Regular'), url(https://fonts.gstatic.com/s/lexenddeca/v1/K2F1fZFYk-dHSE0UPPuwQ5qnJyo.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background-color: #3d4d41;
  position: fixed;
  width: 100%;
  z-index: 999;
}
nav .logo {
  margin-left: 2%;
  font-size: 3.5rem;
  color: #fff;
  font-family: 'Red Hat Display', sans-serif;
}
nav .link {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
}
nav .link a {
  text-decoration: none;
  color: #c6dad5;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
}
nav .link a:hover {
  color: #A1CCAC;
  border-bottom: 1px solid #acabab;
}
footer {
  color: #fff;
}
footer .foot-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background-color: #202221;
}
footer h1 {
  font-size: 1.8rem;
}
body {
  font-family: 'Work Sans', sans-serif;
}
header img {
  height: 700px;
  width: 100%;
  margin: 0 auto;
}
header .wrap-head {
  position: relative;
  border: 2px solid black;
}
header .box-info-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 300px;
  width: 700px;
  opacity: 0.9;
}
header .info-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header button {
  padding: 17px 90px;
  border-radius: 35px;
  background-color: #577960;
  border: 2px solid #fff;
  color: #fff;
  letter-spacing: 2px;
  font-size: 2.5rem;
  margin-top: 3%;
  cursor: pointer;
  -webkit-box-shadow: 1px 25px 78px -19px #000000;
  -moz-box-shadow: 1px 25px 78px -19px #000000;
  box-shadow: 1px 25px 78px -19px #000000;
}
header button:focus {
  outline: none;
}
header button:hover {
  background-color: #486350;
}
header h1 {
  color: #B3696E;
  opacity: 2;
  font-size: 4rem;
  padding: 10px 30px;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
}
header p {
  padding: 10px 30px;
  text-align: center;
  font-size: 2rem;
  font-family: 'Work Sans', sans-serif;
}
#how-it-works-top {
  display: flex;
}
#how-it-works-top .hiw-wrap {
  display: flex;
  justify-content: space-around;
  margin: 30px 6% 0%;
  width: 100%;
}
#how-it-works-top img {
  height: 400px;
  width: 100%;
  border-radius: 10px;
}
#how-it-works-top .hiw-left-top {
  width: 48%;
  background-color: #E3FFEA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
#how-it-works-top .hiw-left-top h1 {
  font-size: 3rem;
  padding: 1% 10%;
  color: #8c5256;
}
#how-it-works-top .hiw-left-top p {
  font-size: 2rem;
  padding: 1% 10%;
}
#how-it-works-top .hiw-right-top {
  width: 48%;
}
#how-it-works-middle {
  display: flex;
}
#how-it-works-middle .hiw-wrap-middle {
  display: flex;
  justify-content: space-around;
  margin: 20px 6% ;
}
#how-it-works-middle img {
  height: 400px;
  width: 100%;
  border-radius: 10px;
}
#how-it-works-middle .hiw-left-middle {
  width: 48%;
}
#how-it-works-middle .hiw-right-middle {
  width: 48%;
  background-color: #E3FFEA;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
#how-it-works-middle .hiw-right-middle h1 {
  font-size: 3rem;
  padding: 1% 10%;
  margin-left: 20%;
  color: #8c5256;
}
#how-it-works-middle .hiw-right-middle p {
  font-size: 2rem;
  padding: 1% 10%;
  margin-left: 20%;
}
#how-it-works-bottom {
  display: flex;
}
#how-it-works-bottom .hiw-wrap {
  display: flex;
  justify-content: space-around;
  margin: 0px 6% 0%;
  width: 100%;
}
#how-it-works-bottom img {
  height: 400px;
  width: 100%;
  border-radius: 10px;
}
#how-it-works-bottom .hiw-left-bottom {
  width: 48%;
  background-color: #E3FFEA;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#how-it-works-bottom .hiw-left-bottom h1 {
  font-size: 3rem;
  padding: 1% 10%;
  color: #8c5256;
}
#how-it-works-bottom .hiw-left-bottom p {
  font-size: 2rem;
  padding: 1% 10%;
}
#how-it-works-bottom .hiw-right-bottom {
  width: 48%;
}
#testimonials {
  margin-top: 30px;
  background-color: #A1CCAC;
  color: #fff;
  text-align: center;
}
#testimonials .testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
#testimonials p {
  margin-top: 3%;
  font-size: 1.2rem;
}
#testimonials .row {
  margin: 100px;
}
#testimonials .container-fluid {
  padding: 7% 15%;
}
#testimonials .big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}
#testimonials .section-heading {
  font-size: 3rem;
  line-height: 1.5;
  color: red;
}
#carousel-info .carousel-info-wrap {
  background-color: #A1CCAC;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
}
#carousel-info img {
  width: 15%;
  margin: 40px 8%;
}
#download {
  background-color: #eef7f1;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#download .button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
#download .dark-button {
  background-color: black;
  color: #fff;
  padding: 20px 60px;
  border-radius: 10px;
  font-size: 2rem;
}
#download .light-button {
  padding: 20px 60px;
  border-radius: 10px;
  margin-left: 40px;
  font-size: 2rem;
}
#download .light-button:active {
  outline: none;
}
#download h1 {
  padding: 2%;
  color: #3a3737;
  margin-bottom: 20px;
  font-size: 4rem;
}
#download .fab {
  font-size: 2.5rem;
  margin-right: 20px;
}
