@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Red Hat Display'), local('RedHatDisplay-Regular'), url(https://fonts.gstatic.com/s/redhatdisplay/v1/8vIQ7wUr0m80wwYf0QCXZzYzUoTg_T6k.ttf) format('truetype');
}
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Red Hat Display Medium'), local('RedHatDisplay-Medium'), url(https://fonts.gstatic.com/s/redhatdisplay/v1/8vIV7wUr0m80wwYf0QCXZzYzUoToDh20aqrF.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Work Sans Light'), local('WorkSans-Light'), url(https://fonts.gstatic.com/s/worksans/v5/QGYpz_wNahGAdqQ43Rh314L8mNhI.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v5/QGYsz_wNahGAdqQ43Rh_fKDs.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lexend Deca Regular'), local('LexendDeca-Regular'), url(https://fonts.gstatic.com/s/lexenddeca/v1/K2F1fZFYk-dHSE0UPPuwQ5qnJyo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v14/0QIvMX1D_JOuMwr7Jg.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background-color: #3d4d41;
  width: 100%;
}
nav .navbar-brand {
  font-size: 3.5rem;
  margin: 10px;
}
nav .nav-link {
  color: #fff;
}
nav .nav-item {
  color: #fff;
  margin: 20px;
  font-size: 2rem;
}
nav .nav-item:hover {
  border-bottom: 1px solid #fff;
}
@media (max-width: 500px) {
  nav .nav-item:hover {
    border: none;
  }
}
@media (max-width: 500px) {
  nav .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
nav .nav-item .navbar-toggler button {
  color: #fff;
}
footer {
  color: #fff;
}
footer .foot-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 100%;
  background-color: #202221;
}
footer h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.8rem;
  margin-top: 1%;
  border-bottom: 1px solid #fff;
  padding: 3px;
}
footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .fab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  margin: 10px 20px;
}
footer .fas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  margin: 10px 20px;
}
body {
  font-family: 'Work Sans', sans-serif;
  background-color: #f1f1f1;
}
header img {
  height: 700px;
  width: 100%;
  margin: 0 auto;
}
header .wrap-head {
  position: relative;
  border: 2px solid black;
}
header .box-info-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 300px;
  width: 700px;
  opacity: 0.9;
}
@media (max-width: 500px) {
  header .box-info-head {
    width: 100%;
  }
}
header .info-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header button {
  padding: 17px 90px;
  border-radius: 35px;
  background-color: #f99123;
  border: 2px solid #fff;
  color: #fff;
  letter-spacing: 2px;
  font-size: 2.5rem;
  margin-top: 3%;
  cursor: pointer;
  -webkit-box-shadow: 1px 25px 78px -19px #000000;
  -moz-box-shadow: 1px 25px 78px -19px #000000;
  box-shadow: 1px 25px 78px -19px #000000;
}
@media (max-width: 500px) {
  header button {
    margin-bottom: 20px;
  }
}
header button:focus {
  outline: none;
}
header button:hover {
  background-color: #486350;
}
header h1 {
  color: #B3696E;
  opacity: 2;
  font-size: 4rem;
  padding: 10px 30px;
  text-align: center;
  line-height: 1.1;
  font-family: 'Lexend Deca', sans-serif;
}
@media (max-width: 500px) {
  header h1 {
    font-size: 2.6rem;
  }
}
header p {
  padding: 10px 30px;
  text-align: center;
  font-size: 2rem;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.3;
}
@media (max-width: 500px) {
  header p {
    font-size: 2rem;
  }
}
.main-info {
  border: 10px solid #c9c9c9;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-info h2 {
  font-size: 5rem;
  padding: 0% 15%;
  margin-top: 6%;
  color: #B3696E;
}
.main-info p {
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  padding: 1% 15%;
  margin-top: 1%;
  margin-bottom: 6%;
  letter-spacing: 1px;
  color: #3c3a3a;
}
#how-it-works-top {
  display: flex;
  background-color: #f1f1f1;
}
#how-it-works-top .hiw-wrap {
  display: flex;
  justify-content: space-around;
  margin: 30px 6% 0%;
  width: 100%;
}
@media (max-width: 500px) {
  #how-it-works-top .hiw-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}
#how-it-works-top img {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: -11px 9px 15px -5px rgba(0, 0, 0, 0.33);
  box-shadow: -11px 9px 15px -5px rgba(0, 0, 0, 0.33);
}
#how-it-works-top .hiw-left-top {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
@media (max-width: 500px) {
  #how-it-works-top .hiw-left-top {
    width: 100%;
  }
}
#how-it-works-top .hiw-left-top h1 {
  font-size: 3.2rem;
  padding: 1% 10%;
  color: #8c5256;
}
#how-it-works-top .hiw-left-top p {
  font-size: 2rem;
  padding: 1% 10%;
  line-height: 1.3;
}
@media (max-width: 500px) {
  #how-it-works-top .hiw-left-top p {
    width: 100%;
    margin-bottom: 20px;
  }
}
#how-it-works-top .hiw-right-top {
  width: 48%;
}
@media (max-width: 500px) {
  #how-it-works-top .hiw-right-top {
    width: 100%;
  }
}
#how-it-works-middle {
  display: flex;
  background-color: #f1f1f1;
}
#how-it-works-middle .hiw-wrap-middle {
  display: flex;
  justify-content: space-around;
  margin: 20px 6% ;
}
@media (max-width: 500px) {
  #how-it-works-middle .hiw-wrap-middle {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
#how-it-works-middle img {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 11px 9px 21px -8px rgba(0, 0, 0, 0.36);
  box-shadow: 11px 9px 21px -8px rgba(0, 0, 0, 0.46);
}
#how-it-works-middle .hiw-left-middle {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 500px) {
  #how-it-works-middle .hiw-left-middle {
    width: 100%;
  }
}
#how-it-works-middle .hiw-right-middle {
  width: 48%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
@media (max-width: 500px) {
  #how-it-works-middle .hiw-right-middle {
    width: 100%;
    text-align: center;
  }
}
#how-it-works-middle .hiw-right-middle h1 {
  font-size: 3.2rem;
  padding: 1% 10%;
  margin-left: 20%;
  color: #8c5256;
}
@media (max-width: 500px) {
  #how-it-works-middle .hiw-right-middle h1 {
    width: 100%;
    margin: 5px 0 0 0;
  }
}
#how-it-works-middle .hiw-right-middle p {
  font-size: 2rem;
  padding: 1% 10%;
  margin-left: 20%;
  line-height: 1.3;
}
@media (max-width: 500px) {
  #how-it-works-middle .hiw-right-middle p {
    width: 100%;
    margin: 0;
    margin: 10px 0 20px;
  }
}
#how-it-works-bottom {
  display: flex;
  background-color: #f1f1f1;
}
#how-it-works-bottom .hiw-wrap {
  display: flex;
  justify-content: space-around;
  margin: 0px 6% 0%;
  width: 100%;
}
@media (max-width: 500px) {
  #how-it-works-bottom .hiw-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
#how-it-works-bottom img {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: -11px 9px 15px -5px rgba(0, 0, 0, 0.33);
  box-shadow: -11px 9px 15px -5px rgba(0, 0, 0, 0.33);
}
#how-it-works-bottom .hiw-left-bottom {
  width: 48%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 500px) {
  #how-it-works-bottom .hiw-left-bottom {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
#how-it-works-bottom .hiw-left-bottom h1 {
  font-size: 3.2rem;
  padding: 1% 10%;
  width: 100%;
  color: #8c5256;
}
@media (max-width: 500px) {
  #how-it-works-bottom .hiw-left-bottom h1 {
    margin: 0;
    text-align: center;
  }
}
#how-it-works-bottom .hiw-left-bottom p {
  font-size: 2rem;
  padding: 1% 10%;
  line-height: 1.3;
}
@media (max-width: 500px) {
  #how-it-works-bottom .hiw-left-bottom p {
    margin: 10px;
    text-align: center;
  }
}
#how-it-works-bottom .hiw-right-bottom {
  width: 48%;
}
@media (max-width: 500px) {
  #how-it-works-bottom .hiw-right-bottom {
    width: 100%;
    margin-bottom: 40px;
  }
}
#testimonials {
  margin-top: 50px;
  background-color: #A1CCAC;
  color: #fff;
  text-align: center;
  height: 500px;
}
#testimonials .testimonial-text {
  margin-top: 100px;
  font-size: 3rem;
  line-height: 1.5;
}
#testimonials p {
  margin-top: 3%;
  font-size: 1.9rem;
}
#testimonials .row {
  margin: 100px;
}
#testimonials .container-fluid {
  padding: 7% 15%;
}
#testimonials .big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}
#testimonials .section-heading {
  font-size: 3rem;
  line-height: 1.5;
  color: red;
}
#carousel-info .carousel-info-wrap {
  background-color: #A1CCAC;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
}
#carousel-info img {
  width: 15%;
  margin: 40px 4%;
}
@media (max-width: 500px) {
  #carousel-info img {
    width: 20%;
    margin: 0 1%;
  }
}
#download {
  background-color: #eef7f1;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#download .button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  #download .button-wrap {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
#download .dark-button {
  background-color: #282626;
  color: #fff;
  padding: 20px 60px;
  border-radius: 10px;
  font-size: 2rem;
}
#download .dark-button:focus {
  outline: none;
}
#download .dark-button:hover {
  background-color: #000;
}
#download .light-button {
  padding: 20px 60px;
  border-radius: 10px;
  margin-left: 40px;
  font-size: 2rem;
}
#download .light-button:focus {
  outline: none;
}
#download .light-button:hover {
  background-color: #ededed;
}
@media (max-width: 500px) {
  #download .light-button {
    margin: 20px 0;
  }
}
#download h1 {
  padding: 2%;
  color: #3a3737;
  margin-bottom: 30px;
  font-size: 5rem;
}
@media (max-width: 500px) {
  #download h1 {
    text-align: center;
    font-size: 3rem;
    margin: 15% 10%;
  }
}
#download .fab {
  font-size: 2.5rem;
  margin-right: 20px;
}
.team-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team-layout .team-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 50px;
}
.team-layout h1 {
  font-size: 6rem;
  color: #000;
  font-family: 'Lora Slab', serif;
  font-weight: 100;
}
@media (max-width: 500px) {
  .team-layout h1 {
    font-size: 3rem;
  }
}
.team-layout p {
  font-size: 1.8rem;
  margin: 60px 16%;
  line-height: 1.5;
  text-align: center;
}
#team-info .team-info-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  #team-info .team-info-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
}
#team-info .team-container {
  background-color: #cbdad4;
  margin-right: 40px;
  height: 400px;
  width: 270px;
  margin-bottom: 1000px;
  margin-top: 150px;
  border-radius: 20px;
}
@media (max-width: 500px) {
  #team-info .team-container {
    margin: 100px 0;
  }
}
#team-info .team-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #cbdad4;
  margin-top: 150px;
  margin-right: 40px;
  height: 400px;
  width: 270px;
  border-radius: 20px;
}
@media (max-width: 500px) {
  #team-info .team-container1 {
    margin: 100px 0 40px;
  }
}
#team-info .team-container2 {
  margin-top: 160px;
  background-color: #cbdad4;
  height: 400px;
  width: 270px;
  margin-right: 40px;
  border-radius: 20px;
}
@media (max-width: 500px) {
  #team-info .team-container2 {
    margin: 100px 0 40px;
  }
}
#team-info img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: -200px;
  box-shadow: 0 8px 6px -3px rgba(101, 101, 101, 0.15);
  border: 3px solid #f1f1f1;
}
#team-info p {
  font-size: 2.2rem;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#team-info .tag {
  font-size: 1.4rem;
  text-align: center;
  margin: 2% 3%;
}
#team-info h4 {
  font-size: 1.8rem;
  text-align: center;
  margin: 10px;
}
#team-info .social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: -100px;
  margin-top: 20px;
}
#team-info .fab {
  padding: 2px;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: none;
  margin: 5px 20px;
}
#team-info .fa-github-alt {
  color: #475d76;
  border: 1px solid #475d76;
  border-radius: 10px;
}
#team-info .fa-linkedin {
  color: #475d76;
  border: 1px solid #475d76;
  border-radius: 10px;
}
#team-info .fa-envelope {
  color: #475d76;
  border: 1px solid #475d76;
  border-radius: 10px;
}
#team-info .fas {
  padding: 2px;
  font-size: 2.3rem;
  text-align: center;
  text-decoration: none;
  margin: 5px 20px;
}
#team-info .team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  margin-bottom: 30px;
}
#team-info .team-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 2%;
}
@media (max-width: 500px) {
  #team-info .team-container2 {
    margin-bottom: 40px;
  }
}
