footer {
    color: #fff;

    .foot-wrap {
        .center();
        height: 300px;
        width: 100%;
        background-color: #202221;
    }

    h4 {
        .center();
        font-size: 1.8rem;
        margin-top: 1%;
        border-bottom: 1px solid #fff;
        padding: 3px;
    }

    .social {
        .center-row();
    }

    .fab {
        .center();
        font-size: 2rem;
        margin: 10px 20px;
    }

    .fas {
        .center();
        font-size: 2rem;
        margin: 10px 20px;

    }
}