header{
    
    img{
        height: 700px;
        width:100%;
        background:red;
        margin:0 auto;
    }
    .wrap-head{
        position: relative;
        border:2px solid black;
    }
    .box-info-head{
        .center();
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        height: 300px;
        width:700px;
        opacity: .68;
    }
    .info-head{
        // background:red;
    }
   
    h1{
        color:rgb(116, 35, 5);
        font-size: 4rem;
        padding:10px 30px;
        text-align: center;
    }
    h3{
        padding:10px 30px;
        text-align: center;
        font-size: 2rem;
    }

}
