
.center(){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center-row(){
    display: flex;
    justify-content: center;
    align-items: center;
}
.column-reverse(){
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}