nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background-color: @dark;
    width: 100%;

    .navbar-brand {
        font-size: 3.5rem;
        margin: 10px;
    }

    .nav-link {
        color: @light;
    }

    .nav-item {
        color: @light;
        margin: 20px;
        font-size: 2rem;

        &:hover {
            border-bottom: 1px solid #fff;

            @media @tablet{
                border: none;
            }

            @media @mobile {
                border: none;
            }
        }

        @media @tablet{
            .center();
        }

        .navbar-toggler button {
            color: #fff;
        }
    }

}