// body {
//     font-family: @subFont;
//     background-color: #f1f1f1;
// }


.team-layout {
    .column();

    .team-wrap {
        .center();
        height: 100%;
        margin-top: 50px;
    }

    h1 {
        font-size: 6rem;
        color: #000;
        font-family: @teamHead;
        font-weight: 100;
        margin: 40px 0 90px;

        @media @mobile {
            font-size: 3rem;
        }
    }

    p {
        font-size: 1.8rem;
        margin: 60px 16%;
        line-height: 1.5;
        text-align: center;
    }

}


.cardTime {
    .center-row();

    @media @mobile {
        flex-wrap: wrap;
 
    }
    @media @tablet{
        flex-wrap:wrap;
    }
   
    .cardTime-wrap {
        .center();
        margin: 60px 30px;
        margin-top: 50px;
        height: 450px;
        width: 300px;
        background-color: @card;
        border-radius: 10px;
        box-shadow: 0px 11px 46px -11px rgba(105, 98, 98, 0.73);
        -webkit-box-shadow: 0px 11px 46px -11px rgba(105, 98, 98, 0.73);
        -moz-box-shadow: 0px 11px 46px -11px rgba(105, 98, 98, 0.73);

        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.1)
        }
    }

    .cardTime-wrap2 {
        .center();
        height: 450px;
        width: 300px;
        background-color: @card;
        margin: 60px 30px;
        border-radius: 10px;
        box-shadow: 0px 11px 46px -11px rgba(105, 98, 98, 0.73);
        -webkit-box-shadow: 0px 11px 46px -11px rgba(105, 98, 98, 0.73);
        -moz-box-shadow: 0px 11px 46px -11px rgba(105, 98, 98, 0.73);

        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.1)
        }
    }

    .cardTime-wrap3 {
        .center();
        height: 450px;
        width: 300px;
        background-color: @card;
        margin: 60px 30px;
        border-radius: 10px;
        box-shadow: 0px 11px 46px -11px rgba(105, 98, 98, 0.73);
        -webkit-box-shadow: 0px 11px 46px -11px rgba(105, 98, 98, 0.73);
        -moz-box-shadow: 0px 11px 46px -11px rgba(105, 98, 98, 0.73);

        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.1)
        }
    }

    img {  
        height: 200px;
        width: 200px;
        margin-top: -50px;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
    }

    h2 {
        font-size: 2.4rem;
        text-align: center;
        margin: 20px 0px;
        text-decoration: underline;
        color:#525050;
    }

    h3 {
        font-size: 2rem;
        margin: 20px 10px 40px;
        text-align: center;
        color:#525050;
    }

    p {
        font-size: 1.8rem;
        letter-spacing: 1px;
        line-height: 1.2;
        text-align: center;
        margin: 0 8%;
        color: @light;
        // font-family: @team;
        font-weight: 100;
    }

    .fab {
        font-size: 3rem;
        color: @card;
        background-color: #f1f1f1;
        margin: 70px 20px 30px;
        border:1px solid #f1f1f1;
        border-radius: 15%;
        padding:5px;

        &:hover {
            text-decoration: none;
        }

    }

    .fas {
        font-size: 3rem;
        color: @card;
        background-color:#f1f1f1;
        margin: 20px;
        border:1px solid #f1f1f1;
        border-radius: 15%;
        padding:5px;

        &:hover {
            text-decoration: none;
        }
    }
}