


.team-layout{
    .column();
    .team-wrap{
        .center();
        height:100%;
        margin-top: 200px;
    }
    h1{
        font-size: 5rem;
        color:#000;
    }
    p{
        font-size: 1.8rem;
        margin:20px 8%;
        line-height: 1.5;
        text-align: center;
    }
    
}
#team-info{

    .team-info-wrap{
        .center-row();
    }
    img{
        height:250px;
        width:400px;
        border-radius: 15px;
    }
    .team-container{
        .column();
        padding: 2%;
    }

}