@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

@logo:'Red Hat Display', sans-serif;
@header: 'Lexend Deca', sans-serif;
@subFont: 'Work Sans', sans-serif;

@dark:#3d4d41;
@bodyColor: #f8fdf7;
@light: #fff;
@text:#000;
@navLink:#c6dad5;
@info:#E3FFEA;
@background:rgb(238, 247, 241);
@card:rgb(203, 218, 212);
@social:rgb(71, 93, 118);
@main:#B3696E;

// Mobile/Tablet var
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width:1000px)";
