@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet');

@logo:'Red Hat Display', sans-serif;
@header: 'Lexend Deca', sans-serif;
@subFont: 'Work Sans', sans-serif;
@team:'Lora Slab', serif;
@teamHead:'Oswald', sans-serif;

@dark:#3d4d41;
@bodyColor: #f8fdf7;
@light: #fff;
@text:#000;
@navLink:#c6dad5;
@info:#E3FFEA;
@background:#eef7f1;
@card:#84a58b;
@social:#4b5d71;
@main:#B3696E;
@support:#3c3a3a;

// Mobile/Tablet var
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width:1024px)";
